//Created by Shubham on 11/3/2015.
h1 Recover Password
form(action='/recover_driver', method='post')
   | Key :
   input(type='text', name='otp')
   br
   | Password :
   input(type='text', name='password')
   br
   | Confirm Password :
   input(type='text', name='cpassword')
   br
   input(type='submit',value='Change')
   br

