//Created by Shubham on 10/29/2015.
h1 User Login Page
br
form(action='/login_user', method='post')
   | Email :
   input(type='text', name='email')
   br
   | Password :
   input(type='text', name='password')
   br
   input(type='submit',value='Login')
   br
   hr
   hr
h2 Not a User!! Register Here
form(action='/register_user', method='post')
   | First Name :
   input(type='text', name='fname')
   br
   | Last Name :
   input(type='text', name='lname')
   br
   | Email :
   input(type='text', name='email')
   br
   | Password :
   input(type='text', name='password')
   br
   | Confirm Password :
   input(type='text', name='cpassword')
   br
   input(type='submit',value='Register')
   br
   hr
   hr
h2 Forget Password
form(action='/forget_user',method='post')
   | Email :
   input(type='text' name='email')
   br
   input(type='submit',value='Submit')
   br
   hr
   hr
h2 Change Password
form(action='/change_user_password',method='post')
   | Access Token :
   input(type='text' name='access_token')
   br
   | Old Password :
   input(type='text', name='opassword')
   br
   | New Password :
   input(type='text', name='newpassword')
   br
   | Confirm New Password :
   input(type='text', name='cnewpassword')
   br
   input(type='submit',value='Change')
   br
   hr
   hr
   hr
//Created by Shubham on 10/29/2015.
h1 Driver Login Page
br
form(action='/login_driver', method='post')
   | Email :
   input(type='text', name='email')
   br
   | Password :
   input(type='text', name='password')
   br
   input(type='submit',value='Login')
   br
   hr
   hr
h2 Register Here
form(action='/register_driver', method='post')
   | First Name :
   input(type='text', name='fname')
   br
   | Last Name :
   input(type='text', name='lname')
   br
   | Email :
   input(type='text', name='email')
   br
   | Password :
   input(type='text', name='password')
   br
   | Confirm Password :
   input(type='text', name='cpassword')
   br
   | Latitude :
   input(type='latitude', name='lat')
   br
   | longitude :
   input(type='longitude', name='lon')
   br
   | Device Type :
   input(type='latitude', name='device_type')
   br
   | Device Token :
   input(type='longitude', name='device_token')
   br
   input(type='submit',value='Register')
   br
   hr
   hr
h2 Forget Password
form(action='/forget_driver',method='post')
   | Email :
   input(type='text' name='email')
   br
   input(type='submit',value='Submit')
   br
   hr
   hr
h2 Change Password
form(action='/change_driver_password',method='post')
   | Access Token :
   input(type='text' name='access_token')
   br
   | Old Password :
   input(type='text', name='opassword')
   br
   | New Password :
   input(type='text', name='newpassword')
   br
   | Confirm New Password :
   input(type='text', name='cnewpassword')
   br
   input(type='submit',value='Change')
   br
   hr
   hr
   hr
//Created by Shubham on 10/30/2015.
h1 Admin Login Page
form(action='/login_admin', method='post')
   | Email :
   input(type='text', name='email')
   br
   | Password :
   input(type='text', name='password')
   br
   input(type='submit',value='Login')
   br
   hr
   hr
   hr
h2 Find Drivers
form(action='/find_drivers', method='post')
   | Access Token :
   input(type='text', name='access')
   | Latitude :
   input(type='latitude', name='lat')
   br
   | Longitude :
   input(type='longitude', name='lon')
   br
   | Radius :
   input(type='number', name='rad')
   br
   input(type='submit',value='Order')
   br
   hr
   hr
h1 Edit Drivers
form(action='', method='post',target='')
   | Admin Access Token :
   input(type='text', name='admin_token')
   br
   hr
   | Driver Access Token :
   input(type='text', name='driver_token')
   br
   br
   |  Change Status:
   input(type='submit',name='change_status',value='Change', onclick='this.form.action="/change_status"')
   br
   br
   |  Delete Driver:
   input(type='submit',name='delete_driver',value='Delete', onclick='this.form.action="/delete_driver"')
   br
   hr
   hr
h1 Driver Verification
form(action='/verify_driver' method='post')
   | Admin Access Token :
   input(type='text', name='admin_token')
   br
   hr
   | Driver Id :
   input(type='text', name='driver_id')
   br
   input(type='submit',value='Verify',onclick='this.form.action="/verify_driver"')
   br
   input(type='submit',value='Not Verify',onclick='this.form.action="/unverify_driver"')
   br
   hr
   hr
   hr
h2 Find Nearest Driver
form(action='/nearest_driver',method='post')
   | Access Token :
   input(type='text', name='access')
   | Latitude :
   input(type='latitude', name='lat')
   br
   | Longitude :
   input(type='longitude', name='lon')
   br
   input(type='submit',value='Order')
   br
   hr
   hr
   hr
h1 Notification
br
form(action='', method='post')
   | Customer Email :
   input(type='text', name='email')
   br
   | Access Token :
   input(type='text', name='access_token')
   br
   input(type='submit',value='Accept', onclick='this.form.action="/accept_order"')
   input(type='submit',value='Reject', onclick='this.form.action="/reject_order"')
   br
   hr
   hr
   hr
